.taskhai{
    margin-top: 70px;
}
.phandau{
    padding:70px 30px 70px 30px;
    margin:0px auto;
    background: #9575CD ;
    color:floralwhite;
}
.phancuoi{
    background-color:#D1C4E9;
    font-size: 80%;
}
.lichsu{
    margin-top: 40px;
  
}
.lichsuhai{
    margin-top: 40px;
}